In [1]:
import os
import sys
PATH = os.getcwd()
DIR_DATA = PATH + '{0}data{0}'.format(os.sep)
sys.path.append(PATH) if PATH not in list(sys.path) else None
DIR_DATA

'C:\\Users\\owent\\OneDrive\\Escritorio\\Bio-Estadistica SM\\data\\'

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from scipy.stats import shapiro, levene
from scipy.stats import friedmanchisquare #para realizar la prueba de Friedman.

# File name
filename1 = DIR_DATA + 'DataOsmo/Tratamiento1.csv'
filename2 = DIR_DATA + 'DataOsmo/Tratamiento2.csv'
filename3 = DIR_DATA + 'DataOsmo/Tratamientos1y2.csv'

In [3]:
df1 = pd.read_csv(filename1, encoding='latin-1')
df2 = pd.read_csv(filename2, encoding='latin-1')
df3 = pd.read_csv(filename3, encoding='latin-1')

# Vistas de Matriz de tratamiento 1 y 2

In [4]:
df3.head(20)
#muestra por defecto las 5 primeras filas, puedes modificarlo poniendo el numero de filas que quieres ver en la zona de parametros ejemplo df3.head(20)

,Individuo,T0,T3,T6,T9,T12,t0,t3,t6,t9,t12
0,1,1.66,1.67,1.65,1.64,1.62,1.66,1.65,1.63,1.64,1.63
1,2,1.85,1.71,1.71,1.74,1.70,1.85,1.74,1.81,1.77,1.74
2,3,2.73,2.75,2.73,2.72,2.70,2.73,2.68,2.65,2.70,2.67
3,4,3.04,2.71,2.75,2.72,2.71,3.04,2.94,2.98,2.91,2.90
4,5,3.73,3.74,3.73,3.72,3.71,3.73,3.66,3.69,3.62,3.62
5,6,1.61,1.61,1.56,1.60,1.60,1.61,1.57,1.57,1.55,1.52
6,7,2.33,2.28,2.26,2.28,2.27,2.33,2.30,2.33,2.29,2.27
7,8,5.97,5.96,5.94,5.95,5.94,5.97,5.94,5.87,5.87,5.85
8,9,2.15,2.14,2.13,2.12,2.11,2.15,2.17,2.10,2.08,2.10
9,10,2.90,2.90,2.91,2.90,2.89,2.90,2.89,2.90,2.89,2.85
10,11,23.29,23.26,23.14,23.00,23.05,23.29,23.25,23.20,23.14,23.09
11,12,20.14,20.16,20.13,20.11,20.11,20.14,19.89,20.12,19.82,19.80
12,13,13.45,13.30,13.26,13.26,13.25,13.45,13.25,13.28,13.09,13.03
13,14,16.54,16.56,16.54,16.52,16.52,16.54,16.52,16.47,16.49,16.47
14,15,13.06,13.08,13.06,13.05,12.97,13.06,13.04,12.93,12.96,12.92
15,16,13.80,13.77,13.75,13.74,13.74,13.80,13.82,13.75,13.69,13.68
16,17,16.35,16.35,16.33,16.35,16.32,16.35,16.37,16.35,16.29,16.27
17,18,11.88,11.83,11.82,11.83,11.82,11.88,11.86,11.84,11.79,11.80
18,19,13.07,13.00,12.97,12.99,12.98,13.07,13.01,12.87,12.85,12.82
19,20,14.20,14.18,14.16,14.19,14.16,14.20,14.16,14.12,14.08,14.06

# Analisis estadistico descriptivo

## Tratamiento 1(T) y 2(t)

In [5]:
df3.describe()

,Individuo,T0,T3,T6,T9,T12,t0,t3,t6,t9,t12
count,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000,20.0000
mean,10.50000,9.187500,9.148000,9.126500,9.121500,9.108500,9.187500,9.135500,9.123000,9.07600,9.0545
std,5.91608,7.070026,7.085236,7.068664,7.052399,7.058607,7.070026,7.056194,7.054228,7.02127,7.0156
min,1.00000,1.610000,1.610000,1.560000,1.600000,1.600000,1.610000,1.570000,1.570000,1.55000,1.5200
25%,5.75000,2.630000,2.602500,2.612500,2.610000,2.592500,2.630000,2.585000,2.570000,2.59750,2.5700
50%,10.50000,8.925000,8.895000,8.880000,8.890000,8.880000,8.925000,8.900000,8.855000,8.83000,8.8250
75%,15.25000,13.900000,13.872500,13.852500,13.852500,13.845000,13.900000,13.905000,13.842500,13.78750,13.7750
max,20.00000,23.290000,23.260000,23.140000,23.000000,23.050000,23.290000,23.250000,23.200000,23.14000,23.0900

- Recuento (count): El número de valores no faltantes en cada columna.
- Media (mean): El valor promedio de cada columna.
- Desviación estándar (std): La medida de dispersión de los datos alrededor de la media.
- Valor mínimo (min): El valor más pequeño en cada columna.
- Cuartil 25% (25%): El valor que divide el conjunto de datos ordenados en el primer cuartil.
- Mediana (50%): El valor que divide el conjunto de datos ordenados en el segundo cuartil (también conocido como el percentil 50 o la mediana).
- Cuartil 75% (75%): El valor que divide el conjunto de datos ordenados en el tercer cuartil.
Valor máximo (max): El valor más grande en cada columna.

In [8]:
#df3.info()

# Pruebas de normalidad y homocedasticidad

In [9]:
# Realizar la prueba de normalidad Shapiro-Wilk
normalidad, p_valor_normalidad = shapiro(df3.iloc[:, 1:])
print('Prueba de normalidad Shapiro-Wilk:')
print(f'Estadístico de prueba: {normalidad:.4f}')
print(f'p-valor: {p_valor_normalidad:.4f}')

# Realizar la prueba de homocedasticidad de Levene
homocedasticidad, p_valor_homocedasticidad = levene(*df3.iloc[:, 1:].T.values)
print('\nPrueba de homocedasticidad Levene:')
print(f'Estadístico de prueba: {homocedasticidad:.4f}')
print(f'p-valor: {p_valor_homocedasticidad:.4f}')

Prueba de normalidad Shapiro-Wilk:
Estadístico de prueba: 0.8554
p-valor: 0.0000

Prueba de homocedasticidad Levene:
Estadístico de prueba: 0.0012
p-valor: 1.0000

In [11]:
ns=0.05 #valor predeterminado
while(ns<1 or ns>3):
    ns = float (input(f'Seleccione el nivel de significancia: \n1) 0.05 (5%)\n2) 0.01 (1%)\n3) Especificar valor de significancia.\n')) 
if (ns==1):
    ns=0.05
elif (ns==2):
    ns=0.01
else:
    ns=float(input(f'Ingrese nivel de significancia especifico: '))

Seleccione el nivel de significancia:
1) 0.05 (5%)
2) 0.01 (1%)
3) Especificar valor de significancia.
1

In [12]:
print(f'El nivel de significancia es: {ns}')

El nivel de significancia es: 0.05

# Ahora a partir de los resultados anteriores interpretaremos si necesitamos una prueba parametria o no parametrica.

In [13]:
#evaluando normalidad
if (p_valor_normalidad > ns):
    dn = True
else:
    dn = False

In [14]:
#evaluando homocedasticidad 
if (p_valor_homocedasticidad > ns):
    dh = True
else:
    dh = False

In [15]:
#Determinamos que tipo de prueba se debe o se puede usar
if(dn == True and dh == True):
    print("Los datos siguen una distribución normal y homocedasticidad, entonces se debe usar una prueba de estadística paramétrica")
elif (dn == False and dh == True):
    print("Los datos no siguen una distribución normal y son homocedásticos, entonces se debe usar una prueba de estadística no paramétrica.")    
elif (dn == True and dh == False):
    print("Los datos siguen una distribución normal y no son homocedásticos, entonces se puede usar una prueba de estadística paramétrica o no paramétrica.")    
elif (dn == False and dh == False):
    print("Los datos siguen una distribución normal y no son homocedásticos, entonces se debe usar una prueba de estadística no paramétrica.")

Los datos no siguen una distribución normal y son homocedásticos, entonces se debe usar una prueba de estadística no paramétrica.

# Prueba no parametrica

In [20]:
# Seleccionar las columnas de interés (T0, T3, T6, T9, T12, t0, t3, t6, t9, t12 )
columns = ['T0', 'T3', 'T6', 'T9', 'T12','t0', 't3', 't6', 't9', 't12']
data_selected = df3[columns]

# Aplicar la prueba de Friedman
statistic, p_value = friedmanchisquare(*data_selected.values.T)
print("Estadística de Friedman:", statistic)
print("Valor p:", p_value)

Estadística de Friedman: 107.16844751728476
Valor p: 5.538690164592587e-19